article {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

article img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
